<div class="d-flex">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark flex-column p-3" style="width: 200px; height: 100vh;">
    <a href="" class="navbar-brand mx-2 font-weight-bold">Videojuegos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNav" class="collapse navbar-collapse flex-column">
      <ul>
        <li class="nav-item my-2">
          <a href="" class="nav-link d-block text-white" routerLinkActive="active" routerLink="/agregar-videoJuego">Agregar Videojuego</a>
        </li>
        <li class="nav-item my-2">
          <a href="" class="nav-link d-block text-white" routerLinkActive="active" routerLink="/lista-videoJuegos">Ver Videojuegos</a>
        </li>
        <li class="nav-item my-2">
          <a href="" class="nav-link d-block text-white" routerLinkActive="active" routerLink="/acerca_de">Acerca de nosotros</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="flex-grow-1 p-3">
    <router-outlet></router-outlet>
  </div>
</div>