body {
    background-color: #f8f9fa; /* Color de fondo */
}
.section {
    padding: 60px 0;
}
.team-member {
    background-color: #ffffff; /* Fondo blanco */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
.team-member h3 {
    color: #6c757d; /* Color de texto gris */
}
.team-member p {
    font-size: 16px;
    color: #495057; /* Color de texto oscuro */
}
.team-member img {
    max-width: 100%;
    border-radius: 6px;
    margin-bottom: 20px;
}
.team-member .social-links a {
    color: #6c757d; /* Color de los enlaces */
    margin-right: 10px;
}
.team-member .social-links a:hover {
    color: #7952b3; /* Color de los enlaces al pasar el ratón */
}