<div class="container text-center">
    <h2>Integrantes del equipo</h2>
    <h5>Tema: Videojuegos</h5>
    <div class="row">
        <div class="col-lg-6">
            <div class="section">
                <div class="team-member">
                    <h3>Jesus Ángel Acosta Ortiz</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="section">
                <div class="team-member">
                    <h3>Raúl Chávez Mateo</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="section">
                <div class="team-member">
                    <h3>Diego Salinas Vazquez</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="section">
                <div class="team-member">
                    <h3>Raúl Michell Sanchez Morales</h3>
            </div>
        </div>
    </div>
</div>